html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: "Roboto";
  background-color: #ffffff;
  font-size: 16px;
}

.bouton1 {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(175deg, #ff79da, 30%, #9356dc);
  padding: 1em 1.7em;
  border-radius: 25px/50%;
  box-shadow: 1px 3px 6px #c3c3c3;
}
.bouton1:hover {
  background: linear-gradient(175deg, #ff93e1, 30%, #9b63df);
  box-shadow: 1px 3px 12px #c3c3c3;
}

@keyframes met {
  from {
    opacity: 0;
    transform: translateY(3%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.met {
  animation: met 0.8s both;
  background-color: white;
  border-radius: 1em;
  box-shadow: 1px 3px 6px #c3c3c3;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.met_1 {
  animation-delay: 0.2s;
}
.met_2 {
  animation-delay: 0.4s;
}
.met_3 {
  animation-delay: 0.6s;
}
.met_4 {
  animation-delay: 0.8s;
}
.met p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.8em;
  margin: 1em;
  margin-right: 0.4em;
  flex: 4;
}
.met__nom {
  font-weight: bold;
}
.met__prix {
  font-weight: bold;
  align-self: flex-end;
  margin: 1.2em;
  margin-left: 0em;
  transform: translateX(200%);
  margin-left: -2em;
  transition: all 0.8s;
}
.met__bouton {
  background-color: #99e2d0;
  color: white;
  text-align: center;
  padding: 2em 0em;
  font-size: 18px;
  min-width: 4em;
  max-width: 4em;
  transform: translateX(100%);
  transition: all 0.8s;
}
.met__bouton-icone {
  transition: transform 0.8s;
}
.met:hover .met__bouton {
  transform: translateX(1%);
}
.met:hover .met__bouton-icone {
  transform: rotate(1turn);
}
.met:hover .met__prix {
  transform: translateX(1%);
  margin-left: 0px;
}
@media screen and (min-width: 992px) {
  .met {
    width: 25vw;
  }
}

.plat {
  margin: 1.6em 0em;
}
.plat__nom {
  font-weight: normal;
  border-bottom: solid #99e2d0 2px;
  padding-bottom: 4px;
  width: 2.5em;
}

.carte {
  position: relative;
  bottom: 8vh;
  margin-bottom: -8vh;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  padding: 5vh 5vw;
}
@media screen and (min-width: 992px) {
  .carte {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .carte h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
  }
}
.carte__nom {
  font-family: Shrikhand;
  font-size: 1.6em;
}
.carte__icone {
  float: right;
  position: relative;
  right: 15px;
  font-weight: normal;
  font-family: Arial;
  transition: 200ms;
}
.carte__icone:hover {
  color: white;
}
.carte__icone-bis {
  background: linear-gradient(0deg, #ff79da, 30%, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 400ms;
}
.carte__icone-bis:hover {
  opacity: 1;
}

.img-carte {
  width: 100vw;
  object-fit: cover;
  max-height: 40vh;
}

.commander {
  text-align: center;
  display: block;
  width: 12em;
  margin: auto;
  margin-top: 40px;
}
@media screen and (min-width: 992px) {
  .commander {
    margin: 2em 30vw 0em 30vw;
  }
}

.footer {
  line-height: 1.6em;
  background: #353535;
  text-decoration: none;
  color: white;
  padding: 1.5em;
}
.footer__titre {
  font-family: Shrikhand;
  margin-bottom: 1em;
}
.footer a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 992px) {
  .footer {
    text-align: center;
    padding: 2em;
  }
}

.header__logobox {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header__logobox img {
  height: 1.8em;
}
.header__retbouton {
  color: black;
  position: absolute;
  left: 6vw;
}
.header_accueil .header__logobox {
  box-shadow: 0px 2px 2px #9e9e9e;
}
.header_accueil .header__retbouton {
  display: none;
}
h2 {
  font-size: 1.3em;
  font-weight: bold;
}

.location {
  height: 7vh;
  color: #353535;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  font-weight: bold;
}
.location__icone {
  position: relative;
  right: 15px;
}

.presentation {
  background-color: #f6f6f6;
  text-align: center;
  padding: 30px;
}
.presentation h1 {
  font-weight: bold;
  font-size: 1.3em;
}
.presentation p {
  padding: 15px 0px;
  margin-bottom: 10px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 5vh 5vw;
}
@media screen and (min-width: 992px) {
  .restaurants {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
  }
  .restaurants h2 {
    width: 100%;
  }
}

.restaurant {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 32vh;
  margin: 3vh 0px;
  box-shadow: 1px 3px 6px #c3c3c3;
  position: relative;
}
@media screen and (min-width: 992px) {
  .restaurant {
    width: 40%;
  }
}
.restaurant img {
  object-fit: cover;
  object-position: center;
  height: 32vh;
  max-width: 100%;
}
.restaurant__etiquette {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  line-height: 1.2em;
}
.restaurant__etiquette-icone {
  position: relative;
  transition: 200ms;
}
.restaurant__etiquette-icone:hover {
  color: white;
}
.restaurant__etiquette-icone-bis {
  background: linear-gradient(0deg, #ff79da, 30%, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 400ms;
}
.restaurant__etiquette-icone-bis:hover {
  opacity: 1;
}
.restaurant__etiquette-titre {
  font-weight: bold;
}
.restaurant__nouveau {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 5.5em;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.6em 0.7em;
  border: solid 1px #1b6150;
  margin: -1.3em;
  display: none;
}
.restaurant_nouveau .restaurant__nouveau {
  display: block;
}

.fonctionnement {
  padding: 5vh 5vw;
}
@media screen and (min-width: 992px) {
  .fonctionnement {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.instruction {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 1.5em 2.25em;
  border-radius: 1.25em;
  margin: 1.25em 0.75em;
  box-shadow: 1px 3px 6px #c3c3c3;
}
.instruction:hover {
  background-color: #f9f9f9;
}
.instruction__numero {
  color: white;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  text-align: center;
  background-color: #9356dc;
  border-radius: 50%;
  position: relative;
  right: 3em;
}
.instruction__icone {
  color: #7e7e7e;
  position: relative;
  font-size: 1.2em;
  right: 1.125em;
}
.instruction__text {
  font-weight: bold;
}
.instruction_selected {
  background-color: #f5edff;
}
.instruction_selected .instruction__icone {
  color: #9356dc;
}
.instruction_selected:hover {
  background-color: #f8f2ff;
}

@keyframes accueil {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    opacity: 1;
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
    transform: rotate(2turn);
  }
}
.accueil body {
  animation: accueil 0s 0.8s both;
  position: relative;
  z-index: 10;
}
.accueil::after {
  content: "";
  background: linear-gradient(#9356dc, #ff79da);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -10vw;
  margin-top: -10vw;
  animation: spin 0.8s linear;
  z-index: -8;
  opacity: 0;
}
