.bouton1 {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-weight: bold;
	background: linear-gradient(175deg, $color2, 30%, $color1);
	padding: 1em 1.7em;
	border-radius: 25px/50%;
	box-shadow: 1px 3px 6px darken($back2, 20);
	&:hover {
		background: linear-gradient(175deg, lighten($color2, 5), 30%, lighten($color1, 3));
		box-shadow: 1px 3px 12px darken($back2, 20);
	}
}

