h2 {
	font-size: 1.3em;
	font-weight: bold;
}

.location {
	height: 7vh;
	color: $color5;
	background-color: $back3;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	font-weight: bold;
	&__icone {
		position: relative;
		right: 15px;
	}
}

.presentation {
	background-color: $back2;
	text-align: center;
	h1 {
		font-weight: bold;
		font-size: 1.3em;
	}
	p {
		padding: 15px 0px;
		margin-bottom: 10px;
	}
	padding: 30px;
}

.restaurants{
	background-color: $back2;
	padding: 5vh 5vw;
	@include desktop-only {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-flow: wrap;
		h2 {
			width: 100%;
		}
	}
}

.restaurant{
	$block: &;

	@include desktop-only {
		width: 40%;
	}
	text-decoration: none;
	color: black;
	$background-color: white;
	border-radius: 10px ;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 32vh;
	margin: 3vh 0px; 
	box-shadow: 1px 3px 6px darken($back2, 20);
	& img {
		object-fit: cover;
		object-position: center;
		height: 32vh;
		max-width: 100%;
	}
	&__etiquette {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5em;
		line-height:1.2em;
	}
	&__etiquette-icone {
		position: relative;
		transition: 200ms;
		&:hover {
			color: white;
		}
	}
	&__etiquette-icone-bis {
		background: linear-gradient(0deg, $color2, 30%, $color1);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: 400ms;
		&:hover {
			opacity: 1;
		}
	}
	&__etiquette-titre {
		font-weight: bold;
	}
	position: relative;
	&__nouveau {
		$dark: darken($color3, 50);
		position: absolute;
		top: 2em;
		right: 2em;
		width: 5.5em;
		background-color: $color3;
		color: $dark;
		padding: 0.60em 0.7em;
		border:solid 1px $dark;
		margin: -1.3em;
		display: none;
	}
	&_nouveau {
		#{$block}__nouveau {
			display: block;
		}
	}
}

.fonctionnement {
	padding: 5vh 5vw;
	@include desktop-only {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.instruction {
	$block: &;
	$nums: 1.5em;
	$padw: 2.25em;
	$padh: 1.5em;

	display: flex;
	align-items: center;
	background-color: $back2;
	padding: $padh $padw;

	border-radius: 1.25em;
	margin: 1.25em $nums/2;
	box-shadow: 1px 3px 6px darken($back2, 20);
	&:hover {
		background-color: lighten($back2, 1);
	}
	&__numero{
		color: white;
		height: $nums;
		width: $nums;
		line-height: 1.5em;
		text-align: center;
		background-color: $color1;
		border-radius: 50%;
		position: relative;
		right: $padw + $nums/2;
	}
	&__icone{
		color: $color4;
		position: relative;
		font-size: 1.2em;
		right: $padw/2 ;
	}
	&__text{
		font-weight: bold;
	}
	&_selected {
		background-color: $back5;
		#{$block}__icone{
			color: $color1;
		}
		&:hover {
			background-color: lighten($back5, 1);
		}
	}
}

@keyframes accueil {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		opacity: 1;
	}
	97% {
		opacity: 1;
	}
	98% {
		opacity: 0;
		transform: rotate(2turn);
	}
}

.accueil {
	$width: 20vw;
	$animation-time: 0.8s;

	body {
		animation: accueil 0s $animation-time both;
		position: relative;
		z-index: 10;
	}
	&::after {
		content: "";
		background: linear-gradient($color1, $color2);
		width: $width;
		height: $width;
		border-radius: 50%;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -$width/2;
		margin-top: -$width/2;
		animation: spin $animation-time linear;
		z-index: -8;
		opacity: 0;
	}
}
