@mixin tablet-desktop {
	@media screen and (min-width: map-get($breakpoints, mobile)) {
		@content;
	}
}

@mixin desktop-only {
	@media screen and (min-width: map-get($breakpoints, tablet)) {
		@content;
	}
}
