@keyframes met{
	from {
		opacity: 0;
		transform: translateY(3%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}
.met {
	$transition_time: 0.8s;
	
	animation: met $transition_time both;
	@for $x from 1 through 4 {
		&_#{$x} {
			animation-delay: $transition_time/4 * $x;
		}
	}
	background-color: white;
	border-radius: 1em;
	box-shadow: 1px 3px 6px darken($back2, 20);
	margin-top: 1em;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	p {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		line-height: 1.8em;
		margin: 1em;
		margin-right: 0.4em;
		flex: 4;
	}
	&__nom {
		font-weight: bold;
	}
	&__prix {
		font-weight: bold;
		align-self: flex-end;
		margin: 1.2em;
		margin-left: 0em;
		transform: translateX(200%);
		margin-left: -2em;
		transition: all $transition_time;
	}
	&__bouton {
		background-color: $color3;
		color: white;
		text-align: center;
		padding: 2em 0em;
		font-size: 18px;
		min-width: 4em;
		max-width: 4em;
		transform: translateX(100%);
		transition: all $transition_time;
	}
	&__bouton-icone {
		transition: transform $transition_time;
	}
	&:hover &__bouton {
		transform: translateX(1%);
	}
	&:hover &__bouton-icone {
		transform: rotate(1turn);
	}
	&:hover &__prix  {
		transform: translateX(1%);
		margin-left: 0px;
	}
	&:hover p {
	}

	@include desktop-only {
		width: 25vw;
	}
}

.plat {
	&__nom {
		font-weight: normal;
		border-bottom: solid $color3 2px;
		padding-bottom: 4px;
		width: 2.5em;
	}
	margin: 1.6em 0em;
}

.carte {
	@include desktop-only {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		h1 {
			width: 100%;
			text-align: center;
			padding-bottom: 1em;
		}
	}
	position: relative;
	bottom: 8vh;
	margin-bottom: -8vh;
	background-color: $back2;
	border-radius: 30px 30px 0px 0px;
	padding: 5vh 5vw;
	&__nom {
		font-family:Shrikhand;
		font-size: 1.6em;
	}

	&__icone {
		float: right;
		position: relative;
		right: 15px;
		font-weight: normal;
		font-family:Arial;
		transition: 200ms;
		&:hover {
			color: white;
		}
	}

	&__icone-bis {
		background: linear-gradient(0deg, $color2, 30%, $color1);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: 400ms;
		&:hover {
			opacity: 1;
		}
	}
}

.img-carte {
	width: 100vw;
	object-fit: cover;
	max-height: 40vh;
}

.commander {
	text-align: center;
	display: block;
	width: 12em;
	margin: auto;
	margin-top: 40px;
	@include desktop-only {
		margin: 2em 30vw  0em 30vw;
	}
}
