.footer {
	line-height: 1.6em;
	background: $back4;
	text-decoration: none;
	color: white;
	padding: 1.5em;
	&__titre {
		font-family: Shrikhand;
		margin-bottom: 1em;
	}
	a {
		text-decoration: none;
		color: white;
	}
	@include desktop-only {
		text-align: center;
		padding: 2em;
	}
}
