.header {
	$block: &;

	&__logobox {
		height: 8vh;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			height: 1.8em;
		}
		position: relative;
		z-index: 2;
	}
	&__retbouton {
		color: black;
		position: absolute;
		left: 6vw;
	}
	&_accueil {
		#{$block}__logobox {
			box-shadow: 0px 2px 2px darken($back3, 30);
		}
		#{$block}__retbouton {
			display: none;
		}
	}
	@include tablet-desktop {
		&__logobox {
			img {
			}
		}

	}
}
